* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  border: black 2px solid;
  border-radius: 10px;
  margin: 200px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 50%;
  gap: 30px;
}

.container form {
  padding: 50px;
  scale: 1.2;
}

.container h1 {
  font-size: 3.5rem;
  margin-top: 40px;
}

#item {
  border-color: blue;
  background-color: cyan;
  padding: 2px;
  border-radius: 5px;
}
