* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --prim-clr-50: #f8fafc;
  --prim-clr-200: #e2e8f0;
  --prim-clr-500: #64748b;
  --prim-clr-700: #334155;
  --prim-clr-900: #0f172a;
}

.container {
  border: var(--prim-clr-900) 2px solid;
  border-radius: 10px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 50%;
  gap: 30px;
}

.container form {
  padding: 50px;
  transform: scale(1.2);
}

.container h1 {
  font-size: 3.5rem;
  margin-top: 40px;
  color: var(--prim-clr-700);
}

#list-input {
  border-color: var(--prim-clr-900);
  background-color: var(--prim-clr-500);
  color: var(--prim-clr-200);
  padding: 2px;
  border-radius: 5px;
}

#list-input::placeholder {
  color: var(--prim-clr-200);
}

#to-do-list {
  font-size: 1.2rem;
  font-weight: 500;
  padding-bottom: 30px;
}

#to-do-list li {
  padding: 4px 0;
}

.btn {
  padding: 2px;
  color: var(--prim-clr-200);
  background: var(--prim-clr-700);
  border-radius: 5px;
}
